################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LåsRest/DesignTimeBuild
/.vs/LåsRest/FileContentIndex/1c6e4d80-35f3-4b28-b85f-c873be35960d.vsidx
/.vs/LåsRest/FileContentIndex/c9277527-5765-4a6b-bac9-1baaa2d12b6b.vsidx
DesignTimeBuild/
FileContentIndex/
